::-webkit-input-placeholder {
   color: black !important;
}
.inputLoginText  :-ms-input-placeholder {
   color: black !important;
}
.inputLoginText  ::-moz-placeholder {
   color: black !important;
}
.inputLoginText  :-moz-placeholder {
   color: black !important;
}
.displayTableCell {
 display: table-cell !important
}

.tdAlignCenter {
    text-align: center;
}

#loginWallpaper{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('https://dev2grow.ddns.net/assets/img/profile/vascodagamabridge.jpeg');
    background-repeat: no-repeat;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);

}

#loginContent{
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    //http://54.171.236.54/img/Dev2grow_white.png
}

#whitePanelLogin{
    background-color: rgba(255, 255, 255, 0.3);
}

.inputLoginText{
    border-radius: 0;
    border: none;
    background: 0;
    border-bottom: 1px solid black;
}

