#addBtn {
      font-size: 25px !important;
}

#lineBtns {
width: 30px;
}

button.btn.btn-borderless,
button.btn.btn-borderless:active,
button.btn.btn-borderless:focus {
	border-color: transparent;
	box-shadow: none;
	background-color: transparent;
}